
* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 80px;
	text-align: center;
}

button {
	/*	font-size: 40px;*/
	border: none;
	border: 2px solid #AD235E;
	border-radius: 100px;


}

#rock {
	background: url(./images/rock.jpg) no-repeat;
	width: 300px;
	height: 300px;
	background-size: cover;
}

#paper {
	background: url(./images/paper.jpg) no-repeat;
	width: 300px;
	height: 300px;
	background-size: cover;
}

#scissors {
	background: url(./images/scissors.jpg) no-repeat;
	width: 300px;
	height: 300px;
	background-size: cover;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
/*	border: dotted;*/
	gap: 30px;
}

.options {
	margin: 20px;
	display: flex;
	gap: 200px;
}
